In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from getpass import getpass
import pymysql
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd
from datetime import datetime

In [2]:
df_actual = pd.read_csv("C:\\Users\\sicil\\Desktop\\Ironhack\\Projects\\Project_final\\CSV\\Catalogo.csv", encoding='latin')
df_absentismo = pd.read_csv("C:\\Users\\sicil\\Desktop\\Ironhack\\Projects\\Project_final\\CSV\\Absentismo.csv", encoding='latin')
df_historical_performance = pd.read_csv("C:\\Users\\sicil\\Desktop\\Ironhack\\Projects\\Project_final\\CSV\\historical_performance.csv", encoding='latin')
df_performance = pd.read_csv("C:\\Users\\sicil\\Desktop\\Ironhack\\Projects\\Project_final\\CSV\\Performance.csv", encoding='latin')
df_base = pd.read_csv("C:\\Users\\sicil\\Desktop\\Ironhack\\Projects\\Project_final\\CSV\\Base de datos.csv", encoding='latin')

C:\Users\sicil\AppData\Local\Temp\ipykernel_28052\596143496.py:1: DtypeWarning: Columns (0,15,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_actual = pd.read_csv("C:\\Users\\sicil\\Desktop\\Ironhack\\Projects\\Project_final\\CSV\\Catalogo.csv", encoding='latin')

In [3]:
df_absentismo.drop(df_absentismo.columns[17:119], axis=1, inplace=True)
columns_to_drop = ["CAUSA", "SECCIÓN", "SUPER", "FECHA CONF. DE BAJA ", "TIENDA/OBRADOR/OFICINA","NOMBRE TRABAJADOR ", "SEMANA INICIO BAJA", "Status", "Status empresa", "Nº real baja", "Nº DIAS DE BAJA"]
df_absentismo['ID'] = df_absentismo['DNI'].str[-5:]
df_absentismo.drop('DNI', axis=1, inplace=True)
df_absentismo['FECHA INICIO BAJA'] = pd.to_datetime(df_absentismo['FECHA INICIO BAJA'], format='mixed').dt.date
df_absentismo['FECHA ALTA'] = pd.to_datetime(df_absentismo['FECHA ALTA'], format='mixed').dt.date
df_absentismo = df_absentismo.drop(columns=columns_to_drop)

In [4]:
columns_to_drop = ["Seleccionador", "Estado civil", "Porcentaje de jornada", "Nivel estudios","Nombre empleado", "Domicilio", "Vigente", "Empleado -  Código", "Extranjero", "Empresa", "Nombre de la empresa", "Columna1", "Código contrato ", "Municipio", "Semana","Meses", "Año", ]
df_actual['ID'] = df_actual['Dni'].str[-5:]
df_actual.drop('Dni', axis=1, inplace=True)
df_actual = df_actual.drop_duplicates(subset='ID')
df_actual['Fecha nacimiento'] = pd.to_datetime(df_actual['Fecha nacimiento'], format='mixed').dt.date
df_actual = df_actual.drop(columns=columns_to_drop)

In [5]:
columns_to_drop = ["SUPERVISORA FINAL", "SELECCIONADOR", "SUPERVISORA ACTUAL", "MOTIVO SALIDA GENERAL", "MOTIVO ENTRADA GENERAL", "OBSEVACIONES ENTRADA", "Criterios de otros", "OTROS CRITERIOS", "SEMANA BAJA", "NOMBRE Y APELLIDOS", "Periodo", "AÑO", "Novell", "OBSERVACIONES SALIDA", "Aprendiz", "SEMANA FIN PRUEBA", "FECHA FIN PRUEBA", "SEMANA ALTA", "EMPRESA"]
df_base['ID'] = df_base['DNI'].str[-5:]
df_base.drop('DNI', axis=1, inplace=True)
df_base['FECHA ALTA'] = pd.to_datetime(df_base['FECHA ALTA']).dt.date
df_base['FECHA BAJA'] = pd.to_datetime(df_base['FECHA BAJA']).dt.date
df_base = df_base.drop(columns=columns_to_drop)

In [6]:
columns_to_drop = ["Cargo", "Semana", "Especialidad", "Fecha baja", "Motivo salida","NOMBRE", "Aprendizas", "Status en empresa", "Valoración", "Fecha inicio", "NUMERO EvaL", "7º dia", "2º mes", "Observaciones", "Compromiso cumplido", "Fecha cumplimiento compromisos", "Compromisos"]
df_historical_performance['ID'] = df_historical_performance['DNI/NIE'].str[-5:]
df_historical_performance.drop('DNI/NIE', axis=1, inplace=True)
df_historical_performance = df_historical_performance.drop(columns=columns_to_drop)

In [7]:
columns_to_drop = ["7º dia", "2º mes","Fecha inicio", "Valoración","Fecha baja", "Motivo salida", "Cargo", "NOMBRE", "Semana", "Compromisos", "Columna1", "Llamada seguimiento", "Especialidad", "Observaciones", "Compromiso cumplido", "NUMERO EvaL", "Fecha cumplimiento compromisos", "ACCIÓN", "Status en empresa", "Aprendizas", ]
df_performance['ID'] = df_performance['DNI/NIE'].str[-5:]
df_performance.drop('DNI/NIE', axis=1, inplace=True)
df_performance = df_performance.drop(columns=columns_to_drop)

In [8]:
column_names = df_absentismo.columns.tolist()
print(column_names)

['IT/AT', 'Horas contratadas', 'FECHA INICIO BAJA', 'FECHA ALTA', 'TIPO DE BAJA', 'ID']

In [9]:
password = getpass("Please input your password: ")
dbName = "final_project"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Please input your password: ········

Transformación - categorización

Base

Categoria:

In [10]:
conversions = {
    'OF 2ª PROD': 'OF PROD',
    'GRUPO I': 'VENDEDOR/A',
    'OF 1ª ADM': 'OF ADM',
    'TÉCNICO': 'OF ADM',
    'OF 1ª PROD': 'OF PROD',
    'OF 2ª ADM': 'OF ADM',
    'AUX PROD': 'OF PROD',
    'ENCARGADO': 'RESPONSABL',
    'JEFE ADMIN': 'RESPONSABL',
    'JEFE VENTA': 'RESPONSABL',
    'TÉC. PREV.': 'OF ADM',
    'JEFE PRODU': 'RESPONSABL',
    'AYTE.DEPENDIENTA': 'VENDEDOR/A',
    'CAP MARKET' : 'RESPONSABL',
    'RSP. RRLL' : 'RESPONSABL',
    'RESP CONTA' : 'RESPONSABL',
    'LIMPIADOR' : 'AUX COMPL',
    'TEC.MANT.' : 'MECÁNICO/A',
    'GESTOR MAN' : 'RESPONSABL',
    'TÉC. MARKE' : 'OF ADM',
    'GR 4 NIV 2' : 'GERENCIA',
    'GR 3 NIV 1' : 'GERENCIA',
    'OF 1ª REND' : 'OF ADM',
    'VOCAL' : 'GERENCIA',
    'VICEPRESID' : 'GERENCIA',
    'ADMINISTRA' : 'ADM',
    'SUPERVISOR' : 'RESPONSABL',
    'AUX COMPL' : 'PRODUCCION'
    }

df_base['CATEGORIA'] = df_base['CATEGORIA'].replace(conversions)
print(df_base['CATEGORIA'].value_counts())

CATEGORIA
VENDEDOR/A    1187
PRODUCCION     239
OF PROD         88
CHÓFER REP      47
RESPONSABL      35
OF ADM          25
AUX ADM         19
MECÁNICO/A      11
GERENCIA         5
BECARIO/A        3
AUX COMPL        2
ADM              1
Name: count, dtype: int64

In [11]:
conversions = {
    'ALMACÉN TARDE': 'ALMACÉN',
    'ALMACÉN MAÑANA': 'ALMACÉN',
    'PANADEROS MAÑANA' : 'PANADEROS',
    'PANADEROS TARDE' : 'PANADEROS',
    'SUPERVISORA TIENDA' : 'SUPERVISORES',
    'SUPERVISORA FRANQUICIA' : 'SUPERVISORES',
    'SUPERVISOR OBRADOR' : 'SUPERVISORES',
    'SUPERVISORA ZONA' : 'SUPERVISORES',
    'CALIDAD' : 'HIGIENE Y SANIDAD',
    'PROCESOS OBRADOR' : 'PROCESOS',
    'PROCESOS TIENDA' : 'PROCESOS',
    'PROCESOS OFICINAS' : 'PROCESOS',
    'SUPERVISORA PANADEROS' : 'SUPERVISORES',
    'RESPONSABLE CÁMARAS DE VIGILANCIA' : 'SUPERVISORES'
    
    }

df_base['TIENDA/SECCION INICIAL'] = df_base['TIENDA/SECCION INICIAL'].replace(conversions)
print(df_base['TIENDA/SECCION INICIAL'].value_counts())

TIENDA/SECCION INICIAL
NO INFO           551
COCINA             53
TRANSPORTE         50
ALMACÉN            48
PANADEROS          37
                 ...
ALAMACÉN TARDE      1
T178                1
JOANETS             1
T182                1
ADMINISTRACIÓN      1
Name: count, Length: 106, dtype: int64

In [12]:
conversions = {
    'ALMACÉN TARDE': 'ALMACÉN',
    'ALMACÉN MAÑANA': 'ALMACÉN',
    'PANADEROS MAÑANA' : 'PANADEROS',
    'PANADEROS TARDE' : 'PANADEROS',
    'SUPERVISORA TIENDA' : 'SUPERVISORES',
    'SUPERVISORA FRANQUICIA' : 'SUPERVISORES',
    'SUPERVISOR OBRADOR' : 'SUPERVISORES',
    'SUPERVISORA ZONA' : 'SUPERVISORES',
    'CALIDAD' : 'HIGIENE Y SANIDAD',
    'PROCESOS OBRADOR' : 'PROCESOS',
    'PROCESOS TIENDA' : 'PROCESOS',
    'PROCESOS OFICINAS' : 'PROCESOS',
    'SUPERVISORA PANADEROS' : 'SUPERVISORES',
    'RESPONSABLE CÁMARAS DE VIGILANCIA' : 'SUPERVISORES'
    
    }

df_base['TIENDA/SECCION FINAL2'] = df_base['TIENDA/SECCION FINAL2'].replace(conversions)
print(df_base['TIENDA/SECCION FINAL2'].value_counts())

TIENDA/SECCION FINAL2
PANADERÍA            33
TRANSPORTE           33
COCINA               25
ALMACÉN              21
T100                 19
                     ..
t150                  1
PANADEROS             1
T05                   1
JOANETS               1
SUPEVISOR OBRADOR     1
Name: count, Length: 96, dtype: int64

Absentismo

In [13]:
conversions = {
    'it': 'IT',
    'iT': 'IT',
    'AT-IN ITIRENE' : 'AT'
    }

df_absentismo['IT/AT'] = df_absentismo['IT/AT'].replace(conversions)
print(df_absentismo['IT/AT'].value_counts())

IT/AT
IT    1938
AT     175
Name: count, dtype: int64

Actual

In [14]:
conversions = {
    'OF 2ª PROD': 'OF PROD',
    'GRUPO I': 'VENDEDOR/A',
    'OF 1ª ADM': 'OF ADM',
    'TÉCNICO': 'OF ADM',
    'OF 1ª PROD': 'OF PROD',
    'OF 2ª ADM': 'OF ADM',
    'AUX PROD': 'OF PROD',
    'ENCARGADO': 'RESPONSABL',
    'JEFE ADMIN': 'RESPONSABL',
    'JEFE VENTA': 'RESPONSABL',
    'TÉC. PREV.': 'OF ADM',
    'JEFE PRODU': 'RESPONSABL',
    'AYTE.DEPENDIENTA': 'VENDEDOR/A',
    'CAP MARKET' : 'RESPONSABL',
    'RSP. RRLL' : 'RESPONSABL',
    'RESP CONTA' : 'RESPONSABL',
    'LIMPIADOR' : 'AUX COMPL',
    'TEC.MANT.' : 'MECÁNICO/A',
    'GESTOR MAN' : 'RESPONSABL',
    'TÉC. MARKE' : 'OF ADM',
    'GR 4 NIV 2' : 'GERENCIA',
    'GR 3 NIV 1' : 'GERENCIA',
    'OF 1ª REND' : 'OF ADM',
    'VOCAL' : 'GERENCIA',
    'VICEPRESID' : 'GERENCIA',
    'ADMINISTRA' : 'ADM',
    'SUPERVISOR' : 'RESPONSABL',
    'RESP. INF.' : 'RESPONSABL',
    'GRUPO 3 NI' : 'VENDEDOR/A',
    'COMERCIAL' : 'AUX COMPL',
    'BECARIO' : 'BECARIO/A',
    'AUX COMPL' : 'PRODUCCION'
    }

df_actual['Categoría'] = df_actual['Categoría'].replace(conversions)
print(df_actual['Categoría'].value_counts())

Categoría
VENDEDOR/A    1229
PRODUCCION     251
OF PROD         82
CHÓFER REP      51
RESPONSABL      36
OF ADM          27
AUX ADM         18
MECÁNICO/A       8
BECARIO/A        4
GERENCIA         3
AUX COMPL        2
Name: count, dtype: int64

df_historical_performance

In [15]:
conversions = {
    'ysis': 'YSIS',
    'WILLIAM': 'PANADEROS WILLIAM',
    'Ana': 'ANA',
    'Conxi': 'CONXI',
    'Eva': 'EVA',
    'luz': 'LUZ',
    'Toñi': 'TOÑI',
    'Gley': 'GLEIDY',
    'Ana': 'ANA',
    'Verde': 'CONXI',
    '4/13/2022': 'CONXI',
    '9/25/2018': 'CONXI',
    'PANADEROS': 'PANADEROS AGUSTIN',
    'Ana ': 'ANA',
    'Gleidy': 'GLEIDY',
    'Franquicia': 'TOÑI',
    'PANADEROS MANU/ SUPER ROSA': 'PANADEROS MANU',
    'Joana': 'JOANA',
    'ANA MARIA': 'ANA',
    'Ysis': 'YSIS',
    'Rosa':'ROSA',
    'MANU' : 'PANADEROS MANU',
    'Ley' : 'LEY'
    }

df_historical_performance['Supervisor/a'] = df_historical_performance['Supervisor/a'].replace(conversions)
print(df_historical_performance['Supervisor/a'].value_counts())

Supervisor/a
EVA                  211
LEY                  198
YSIS                 183
JOANA                161
CONXI                133
ROSA                 127
ANA                   48
PANADEROS SALVA       41
PANADEROS MANU        41
LUZ                   37
GLEIDY                35
LAILA                 30
PANADEROS WILLIAM     30
TOÑI                  28
PANADEROS AGUSTIN     10
ANA                    8
MERLY                  4
AGUSTIN TENA           1
JUAN ANTONIO           1
PANADEROS ALBERT       1
Name: count, dtype: int64

In [16]:
conversions = {
    'verde': 'Verde',
    'Amarillo + (baja médica)': 'Amarillo +',
    'Conxi': 'CONXI',
    'Verde (rojo por actitud)': 'Rojo',
    'Sin Evaluar (baja médica)': 'Sin evaluar (baja médica)',
    'amarillo +': 'Amarillo +',
    'Sin Evaluar': 'Sin evaluar',
    'Amarillo + (rojo por actitud)': 'Rojo',
    'Amarillo - (baja médica)' : 'Amarillo -',
    '4/2/2022' : 'Amarillo +',
    '4/23/2022' : 'Amarillo +'    
    }

df_historical_performance['Evaluación'] = df_historical_performance['Evaluación'].replace(conversions)
print(df_historical_performance['Evaluación'].value_counts())

Evaluación
Verde                          879
Amarillo +                     279
Amarillo -                      57
Sin evaluar (nuevo ingreso)     38
Sanción leve                    28
Rojo                            15
Sin evaluar (baja médica)        9
Sanción grave                    6
Sin evaluar                      6
Sanción muy grave                3
Amonestación                     3
Name: count, dtype: int64

In [17]:
conversions = {
    'verde': 'Verde',
    'Verde (rojo por actitud)': 'Rojo',
    'Amarillo + (baja médica)': 'Amarillo +',
    'Sin Evaluar (baja médica)': 'Sin evaluar (baja médica)',
    'amarillo +': 'Amarillo +',   
    }

df_performance['Evaluación'] = df_performance['Evaluación'].replace(conversions)
print(df_performance['Evaluación'].value_counts())

Evaluación
Verde                          536
Amarillo +                      48
Rojo                            12
Sin evaluar (baja médica)       12
Sin evaluar (nuevo ingreso)      8
Sin evaluar                      2
Amarillo -                       1
Sanción muy grave                1
Aura - Evaluado                  1
Sin Evaluar (Aura)               1
Name: count, dtype: int64

In [35]:
conversions = {
    'ysis': 'YSIS',
    'WILLIAM': 'PANADEROS WILLIAM',
    'Ana': 'ANA',
    'Conxi': 'CONXI',
    'conxi': 'CONXI',    
    'Eva': 'EVA',
    'luz': 'LUZ',
    'Toñi': 'TOÑI',
    'Gley': 'GLEIDY',
    'Ana': 'ANA',
    'Verde': 'CONXI',
    '4/13/2022': 'CONXI',
    '9/25/2018': 'CONXI',
    'PANADEROS': 'PANADEROS AGUSTIN',
    'Ana ': 'ANA',
    'Gleidy': 'GLEIDY',
    'Franquicia': 'TOÑI',
    'PANADEROS MANU/ SUPER ROSA': 'PANADEROS MANU',
    'Joana': 'JOANA',
    'ANA MARIA': 'ANA',
    'Ysis': 'YSIS',
    'Rosa':'ROSA',
    'MANU' : 'PANADEROS MANU',
    'Ley' : 'LEY',
    'Luz' : 'LUZ',
    'lUZ' : 'LUZ',
    'Vendedora ' : 'CONXI',
    'Leo Tena' : 'LEO',
    'Laia ' : 'LAILA',
    'ANA ' : 'ANA',
    'TOÑY' : 'TOÑI',
    'LAIA' : 'LAILA',
    }

df_performance['Supervisor/a'] = df_performance['Supervisor/a'].replace(conversions)
print(df_performance['Supervisor/a'].value_counts())

Supervisor/a
YSIS                 111
LEY                   86
ANA                   65
LAILA                 54
CONXI                 53
EVA                   53
LUZ                   46
TOÑI                  39
ROSA                  38
JOANA                 37
GLEIDY                29
PANADEROS WILLIAM     18
PANADEROS SALVA       15
PANADEROS MANU        13
PANADEROS AGUSTIN      2
PANADEROS ALBERT       2
AGUSTIN TENA           1
UNAI                   1
                       1
LEO                    1
Name: count, dtype: int64

In [36]:
df_absentismo.to_sql(con=connectionData, name='absentismo', if_exists='replace')
df_historical_performance.to_sql(con=connectionData, name='historical_performance', if_exists='replace')
df_performance.to_sql(con=connectionData, name='performance', if_exists='replace')
df_actual.to_sql(con=connectionData, name='actual', if_exists='replace')
df_base.to_sql(con=connectionData, name='base', if_exists='replace')

1662

In [37]:
df_absentismo.to_pickle('df_absentismo.pkl')
df_historical_performance.to_pickle('df_historical_performance.pkl')
df_performance.to_pickle('df_performance.pkl')
df_actual.to_pickle('df_actual.pkl')
df_base.to_pickle('df_base.pkl')